This file is a template for what keys the local .env file should contain with example values
----------------------------------------------------------------------------------

PORT=1234
URL=http://localhost
DB_USER=myDatabaseUsername
DB_PASSWORD=myDatabasePassword
DB_NAME=myDatabaseName
JWT_SECRET=myJWTSecretStringValue
CLOUDINARY_API_KEY=123456789
CLOUDINARY_CLOUD_NAME=myCloudName
CLOUDINARY_API_SECRET=myCloudAPISecret
FRONTEND_URL=http://localhost:5173